<html>

<head>
    <title>EVENT TRIGGER [ODA-INSTANCE-1]</title>
</head>
<style>
  table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  h1 {
    text-align: center;
    color:  green;
  }
</style>
<body>
  <h1>EVENT TRIGGER [ODA-INSTANCE-2]</h1>
  <table>
    <tr>
      <td colspan="2">
        <div>
          <input type="checkbox" id="isProduceTomeSink" name="isProduceTomeSink"><label for="isProduceTomeSink">todo: send emit for produce tome_sink ?</label>
          <hr>
          <button onclick="buttonRandomClicked()">random key...</button>
          deviceID:<input id="device-id" name="device-id" autocomplete="off" type='text'/>
          appID:<input id="app-id" name="app-id" autocomplete="off" type='text'/>
          topicID:<input id="topic-id" name="topic-id" autocomplete="off" type='text' size="40" value="tome_source"/>
          <button onclick="buttonClicked()">command...</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <h2>on command result [fe ---> mobile-be]</h2>
          <textarea id="command-result" rows="5" cols="100"></textarea> 
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <h2>on event result [mobilebe <--- kafka]</h2>
          <textarea id="event-result" rows="5" cols="100"></textarea>
        </div>
      </td>
    </tr>
  </table>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      console.log(`0.DOMContentLoaded`);
      fetch("http://192.168.1.150/mdm/endpoints") //vm nginx at home 
      //fetch("http://192.168.1.39:3000/mdm/endpoints") //localhost:3000 on vscode
        .then(response => response.json())
        .then(json => {
            data = json;
            // Do something with the data...
            console.log('1.call MDM API get endpoint : '+JSON.stringify(data));
            sessionStorage.setItem("MDM_endpoints", JSON.stringify(data));
        }).catch(err => {
            console.error(err);
        });
    });
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script> 
      let mdmEndpoints = sessionStorage.getItem("MDM_endpoints");
      console.log(`2.MDM_endpoints is ${mdmEndpoints}`);
      const myObj = JSON.parse(mdmEndpoints);
      /*fetch("http://192.168.1.39:3000/mdm/endpoint")
        .then(response => response.json())
        .then(json => {
          data = json;
          // Do something with the data...
          console.log('call MDM API get endpoint : '+JSON.stringify(data));
*/
        //const url = "https://websocket-demo-poc.adldigitalservice.com/";
        //const url = "http://192.168.1.150";  //vm nginx at home
        //const url = "http://10.10.0.150";  //vm nginx at office

        //const url = "http://192.168.1.39:3000";  //localhost at home
        //const url = "http://10.10.0.167:3000";  //localhost at office with wifi
        console.log(`3.ODA-2 recieve endpoints from mdm is : ${JSON.stringify(myObj["endpoints"][0])}`) 
        console.log(`4.ODA-2 select endpoints[0] is : ${myObj["endpoints"][0]["href"]}`) 
        const url = myObj["endpoints"][0]["href"];
        const socket = io(url,{
          extraHeaders: {
            apptype: "web-browser-firefox",
            appins : "ODA-INSTANCE-2"
          },
          auth : {
            token : "tttt@yyy"
          }
        }); 

        socket.on('connect', function() {
          console.log('5.Socket.io : Mobile-BE ['+url+'] Connected...');
          console.log('6.Socket.io : id='+socket.id);  
        });
    
        //fe handler on 'event'
        socket.on('command-result', function(msg) {
          var item = document.getElementById('command-result');
          item.innerText = msg; 
        });

        //fe handler on 'event'
        socket.on('event', function(msg) {
          var item = document.getElementById('event-result');
          item.innerText = JSON.stringify(msg); 
        });

        socket.on('exception', function(data) {
          console.log('event', data);
        });

        socket.on('disconnect', function() {
          console.log('Disconnected');
        }); 
      /*}).catch(err => {
          console.error(err);
      });*/

      function buttonRandomClicked(){
        document.getElementById('device-id').value = Math.floor(Math.random() * 100) + 1;
        document.getElementById('app-id').value = Math.floor(Math.random() * 100) + 1;
      }

      function buttonClicked(){
        var deviceID = document.getElementById('device-id').value;
        var appID = document.getElementById('app-id').value;
        var topicID = document.getElementById('topic-id').value;
        var isProduceTomeSink = document.getElementById('isProduceTomeSink').checked;

        const payloadFE = {
          "key": "deviceid-"+deviceID+"_appid-"+appID, // deviceid+appid
          "command": topicID, // kafka topic 
          "value" : {//"payload for produce kafka" 
              "session-id": "oda2-sid-"+deviceID+'@'+appID,
              "invoke-id":"inv-2",
              "address":"44/55 Ladprao Bangkok"
          },
          "isProduceTomeSink":isProduceTomeSink,
          "modifytime":new Date()
        }
        socket.emit('command', payloadFE, (ack) => {
            console.log(ack)  
        })
			}

      
  </script>
</body>

</html>
