<html>

<head>
    <title>PRODUCE TOPIC API</title>
</head>
<style>
  table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  h1 {
    text-align: center;
  }
</style>
<body> 
    <h1>PRODUCE TOPIC API</h1>
    <form id="form" action="/api/produce/topic" method="POST" >
        <div>topic</div><input id="topic" name="topic" autocomplete="off" type='text' value="tome_sink"/>
        <div>data</div><textarea id="data" name="data" autocomplete="off" rows="5" cols="100"></textarea>
        <button type="submit">Emit</button>
    </form> 
</body>

</html>
