<html>

<head>
    <title>Produce Topic</title>
</head>
<body>
    <h1>PRODUCE TOPIC</h1>
    <form id="form" action="/api/produce/topic" method="POST" >
        <div>topic</div><input id="topic" name="topic" autocomplete="off" type='text'/>
        <div>data</div><textarea id="data" name="data" autocomplete="off" rows="10" cols="150"></textarea>
        <button type="submit">Emit</button>
    </form> 
    <hr>
    <h1>TRIGGER EVENT</h1>
    <div>
      deviceID<input id="device-id" name="device-id" autocomplete="off" type='text'/>
      appID<input id="app-id" name="app-id" autocomplete="off" type='text'/>
      topicID<input id="topic-id" name="topic-id" autocomplete="off" type='text' size="50"/>
      <button onclick="buttonClicked()">command...</button>
    </div>
    <div>
      <br>on command result
      <textarea id="command-result" rows="10" cols="150"></textarea> 
    </div>
    <div>
      <br>on event result
      <textarea id="event-result" rows="10" cols="150"></textarea>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script>
      const socket = io('https://websocket-demo-poc.adldigitalservice.com/'); //https://websocket-demo-poc.adldigitalservice.com/ http://localhost:3000
      socket.on('connect', function() {
        console.log('Socket.io Mobile-BE Connected...');

        /*socket.emit('events', { test: 'test' ,time:new Date() });
        socket.emit('identity', 0, response =>
          console.log('Identity:', response),
        );

        socket.emit('command', { address: 'test-address' ,time:new Date() } );


        // Now that we are connected let's send our test call with callback
        socket.emit('testmessage', {"topic":"test-payload",time:new Date()}, (response) => {
            console.log(response)  
        })
        */
      });
     

      function buttonClicked(){
        var deviceID = document.getElementById('device-id').value;
        var appID = document.getElementById('app-id').value;
        var topicID = document.getElementById('topic-id').value;
        const payloadFE = {
          "key": "deviceid-"+deviceID+"_appid-"+appID, // deviceid+appid
          "command": topicID, // kafka topic 
          "value" : {//"payload for produce kafka" 
              "session-id": "abc1234",
              "invoke-id":"inv-1",
              "address":"99/99 Chatuchark Bangkok"
          },
          "modifytime":new Date()
        }

        socket.emit('command', payloadFE, (ack) => {
            console.log(ack)  
        })
			}

      //fe handler on 'event'
      socket.on('command-result', function(msg) {
        var item = document.getElementById('command-result');
        item.innerText = msg; 
      });
 
      //fe handler on 'event'
      socket.on('event', function(msg) {
        var item = document.getElementById('event-result');
        item.innerText = msg; 
      });

      socket.on('exception', function(data) {
        console.log('event', data);
      });

      socket.on('disconnect', function() {
        console.log('Disconnected');
      });
    
    </script>
</body>

</html>
